body {
    font-family: 'Georgia', serif;
    background-color: #121212;
    color: #eaeaea;
    transition: background-color 1s ease-in-out;
}

h1 {
    margin-top: 100px;
    color: #ffd6a5;
    text-shadow: 0 0 8px rgba(255, 200, 170, 0.4);
}

span {
    font-style: italic;
    font-size: 1.25rem;
    color: #eecffb;
    text-shadow: 0 0 4px rgba(230, 180, 250, 0.3);
}


.sun {
    color: #d8d8d8;
    letter-spacing: 4px;
    font-weight: 300;
}

.glow-btn {
    border: 1.5px solid #eecffb;
    color: #eecffb;
    transition: all 0.3s ease-in-out;
}

.glow-btn:hover {
    background-color: #eecffb;
    color: #121212;
    box-shadow: 0 0 20px rgba(238, 207, 251, 0.4);
}

a {
    color: #f8d9ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ffe7f0;
}

h4 {
    font-size: 0.8rem;
    color: #aaa;
    margin-top: 4rem;
    font-weight: 300;
}
